/* General settings */
html,
body {
  margin: 0;
  font-family: arial, sans-serif;
}

/* Header section */

header {
  background-color: #edebec;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/** logo  **/
header img {
  width: 138px;
  height: 36px;
  margin-left: 30px;
}

/** navigation **/
nav ul li {
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  margin: 50px 40px;
}
nav {
  color: #7a6564;
}

/* Jumbotron section */
.jumbotron {
  position: relative;
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  height: 660px;
}
.jumbotron img,
.jumbotron .ad-text {
  position: absolute;
}
.ad-text {
  z-index: 2;
  right: 200px;
  bottom: 70px;
  color: white;
}

.ad-text p {
  width: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

.jumbotron img {
  z-index: 1;
  right: 100px;
  bottom: 30px;
}

/* Main section */
main {
  position: relative;
  background-color: #edebec;
}
