/* General settings */
html,
body {
  margin: 0;
  font-family: arial, sans-serif;
}

/* Header section */

header {
  background-color: #edebec;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/** logo  **/
header img {
  width: 138px;
  height: 36px;
  margin-left: 30px;
}

/** navigation **/
nav ul li {
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  margin: 50px 40px;
}
nav {
  color: #7a6564;
}
