/* General settings */
html,
body {
  margin: 0;
  font-family: arial, sans-serif;
}

/* Header section */

header {
  background-color: #edebec;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/** logo  **/
header img {
  width: 138px;
  height: 36px;
  margin-left: 30px;
}

/** navigation **/
nav ul li {
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  margin: 50px 40px;
}
nav,
.main-text {
  color: #7a6564;
}

/* Jumbotron section */
.jumbotron {
  position: relative;
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  height: 660px;
}
.jumbotron img,
.jumbotron .ad-text {
  position: absolute;
}
.ad-text {
  z-index: 2;
  right: 400px;
  bottom: 70px;
  color: white;
}

.ad-text p {
  width: 10px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.jumbotron img {
  z-index: 1;
  right: 300px;
  bottom: 30px;
}

/* Main section */
main {
  position: relative;
  background-color: #e9e7e8;
  height: 260px;
}
.main-text {
  padding: 20px 400px 20px 40px;
}
main img {
  position: absolute;
  right: 10px;
  bottom: 0;
}
.main-text h3 {
  color: #e32a63;
  font-size: 2em;
  margin: 0;
}
/* menu icon section */
.menu-icon {
  background-color: #c8c10e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px;
}
.product-icon,
.ourstory-icon,
.flavors-icon,
.location-icon {
  text-align: center;
}
/* Footer section */
footer {
  background-color: #cb3362;
  color: white;
  padding: 70px 40px;
}
.social-icons {
  text-align: center;
}
.social-icons img {
  margin-right: 10px;
}
.copyright-text {
  text-align: center;
}
